.loginFormContainer {
  padding: 0 1rem;
}

.loginForm {
  margin-bottom: 2rem;
}

.forgot {
  display: inline-block;
  color: #666;
  padding: 0.5rem 0;
  line-height: 1;
}

.forgot::after {
  content: '';
  height: 2px;
  width: 100%;
  background: currentColor;
  display: block;
}

.createAccount {
  margin-top: 4rem;
}

.createAccount p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.createAccountButton {
  min-width: 8rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.4rem;
  background: #fb1;
  color: #764701;
  padding: 0.8rem 1.2rem;
  box-sizing: border;
  transition: all 0.3s;
}

.createAccountButton:hover,
.createAccountButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
}

.createAccountButton:disabled {
  opacity: 0.5;
  cursor: wait;
}

.subtitleForm {
  font-family: var(--dogs-type-second);
  line-height: 1;
  font-size: 2rem;
}

.subtitleForm:after {
  content: '';
  display: block;
  background: #ddd;
  height: 0.5rem;
  width: 3rem;
  border-radius: 0.2rem;
}
